@model IEnumerable<Cocoteca.Models.CarritoCompra>

@{
    ViewData["Title"] = "Carrito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>La Cocoteca</title>
    <link rel="icon" href="imagenes/coco.png" type="image/icon type">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel=StyleSheet href="css/custom.css" type="text/css" media=screen>
    <link rel=StyleSheet href="css/carrito.css" type="text/css" media=screen>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
</head>

@{decimal subtotal = 0;}
@{decimal total = 0;}

<div class="p-4 container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class=" p-4 rounded table-responsive-xl" style="background-color:#FFD1BD">
                <table class="table">
                    <thead style="background-color: #ff9060;">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Producto</th>
                            <th scope="col">Disponibilidad</th>
                            <th scope="col" class="text-center">Cantidad</th>
                            <th scope="col" class="text-right">Precio</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{int a = 0; }
                        @foreach (var item in Model)
                        {
                            <tr class="tablaitem" background-color:#f3f3f3">
                                <td class="pl-4">
                                    <img src=@Html.DisplayFor(modelItem => item.libro.Imagen) width="80" height="100" />
                                </td>

                                <td style=" vertical-align:middle">
                                    @Html.DisplayFor(modelItem => item.libro.Titulo)
                                    <br />
                                    @Html.DisplayFor(modelItem => item.libro.Autor)
                                </td>

                                <td style="vertical-align:middle">
                                    @Html.DisplayFor(modelItem => item.libro.Stock)
                                </td>
                                <td style="vertical-align:middle" class="text-center">
                                    <div class="container">
                                        <div class="info row ">
                                            <div class="col">
                                            </div>
                                            <label class="Cantidad col" runat="server">@Html.DisplayFor(modelItem => item.conceptoCompra.Cantidad)</label>
                                            <div class="col">
</div>

<script>
<<<<<<< HEAD
    function restarCantidad(index, precio) {
        var cantidad = $(".info:eq(" + index + ")").find("label:eq(0)").text();
        if (cantidad > 0) {
            cantidad--;
          
            $(".info:eq(" + index + ")").find("label:eq(0)").text(cantidad);
            var nuevoPrecio = precio;
            nuevoPrecio *= cantidad;
            $(".precio:eq(" + index + ")").text(nuevoPrecio);
            var subtotal = $(".subtotal").text();
            subtotal -= precio;
            $(".subtotal").text(subtotal);
            var total = subtotal + 90;
            $(".total").text(total);

            return false;
        }
    }

    function borrarItem(index) {
        var id = $(index).data('assigned-id');
        $.ajax({
            url: '/Carrito/Eliminar?indice='+id,
            data: {
                'id_item': id,
            },
            type: 'GET',
            method: 'GET',
            dataType: 'json',
            success: function (data) {
            },
            error: function (data) {
            },
        });
    }

    function sumarCantidad(index, precio) {
        var cantidad = $(".info:eq(" + index + ")").find("label:eq(0)").text();
        cantidad++;
        $(".info:eq(" + index + ")").find("label:eq(0)").text(cantidad);
        var nuevoPrecio = precio;
        nuevoPrecio *= cantidad;
        $(".precio:eq(" + index + ")").text(nuevoPrecio);

        var subtotal = parseInt($(".subtotal").text());
        subtotal += precio;
        $(".subtotal").text(subtotal);

        var total = subtotal + 90;
        $(".total").text(total);
  
        return false;
    }

    function eliminarLibro(index) {
        $(".subtotal").text(parseInt($(".subtotal").text() - parseInt($(".precio:eq(" + index + ")").text())));
        $(".total").text(parseInt($(".subtotal").text()));
        $(".tablaitem:eq(" + index + ")").hide();
        return false;
    }
=======






</script>


@section Scripts {
}