
@{
    ViewData["Title"] = "Carrito";
}

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>La Cocoteca</title>
        <link rel="icon" href="imagenes/coco.png" type="image/icon type">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel=StyleSheet href="css/custom.css" type="text/css" media=screen>
        <link rel=StyleSheet href="css/carrito.css" type="text/css" media=screen>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    </head>



<div class="p-4 container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class=" p-4 rounded table-responsive-xl" style="background-color:#FFD1BD">
                <table class="table">
                    <thead style="background-color: #ff9060;">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Producto</th>
                            <th scope="col">Disponibilidad</th>
                            <th scope="col" class="text-center">Cantidad</th>
                            <th scope="col" class="text-right">Precio</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="background-color:#f3f3f3">
                            <td class="pl-4">
                                <img src="https://libreriashidalgo.com/portadas/9786074576399.jpg" width="80" height="100">
                            </td>
                            <td style="vertical-align:middle;">
                                Nombre XXXXX1
                                <br>Descripcion
                                <br>Autor
                                <br>Paginas
                            </td>
                            <td style="vertical-align:middle;">Disponible</td>
                            <td style="vertical-align:middle;" class="text-center">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <button class="btn btn-sm btn-outline-dark">-</button>
                                        </div>
                                        <div class="col">1</div>
                                        <div class="col">
                                            <button class="btn btn-sm btn-outline-dark">+</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td style="vertical-align:middle;" class="text-right">$XXXXX</td>
                            <td style="vertical-align:middle;" class="text-right">
                                <button class="btn btn-sm btn-outline-danger">Eliminar</button>
                            </td>
                        </tr>
                        <tr style="background-color:#f3f3f3">
                            <td><img src="https://dummyimage.com/50x50/55595c/fff" width="80" height="100"> </td>
                            <td style="vertical-align:middle;">Producto XXXXX2</td>
                            <td style="vertical-align:middle;">Disponible</td>
                            <td style="vertical-align:middle;" class="text-center">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <button class="btn btn-sm btn-outline-dark">-</button>
                                        </div>
                                        <div class="col">2</div>
                                        <div class="col">
                                            <button class="btn btn-sm btn-outline-dark">+</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td style="vertical-align:middle;" class="text-right">$XXXXX</td>
                            <td style="vertical-align:middle;" class="text-right">
                                <button class="btn btn-sm btn-outline-danger">Eliminar</button>
                            </td>
                        </tr>
                        <tr style="background-color:#f3f3f3">
                            <td><img src="https://dummyimage.com/50x50/55595c/fff" width="80" height="100"> </td>
                            <td style="vertical-align:middle;">Producto XXXXX2</td>
                            <td style="vertical-align:middle;">Disponible</td>
                            <td style="vertical-align:middle;" class="text-center">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <button class="btn btn-sm btn-outline-dark">-</button>
                                        </div>
                                        <div class="col">1000</div>
                                        <div class="col">
                                            <button class="btn btn-sm btn-outline-dark">+</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td style="vertical-align:middle;" class="text-right">$XXXXX</td>
                            <td style="vertical-align:middle;" class="text-right">
                                <button class="btn btn-sm btn-outline-danger">Eliminar</button>
                            </td>
                        </tr>
                        <tr style="background-color:#f3f3f3">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Sub-Total</td>
                            <td class="text-right">$XXXXX</td>
                        </tr>
                        <tr style="background-color:#f3f3f3">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td class="text-right"><strong>$XXXXX</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="rounded mx-3 mt-3 p-3 col mb-2 container" style="background-color:#FFD1BD">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <button class="btn btn-lg btn-block btn-search">Continuar Comprando</button>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <button class="btn btn-lg btn-block btn-pagar text-uppercase">PROCEDER AL PAGO</button>
                </div>
            </div>
        </div>
    </div>
</div>