
@{
    ViewData["Title"] = "Tarjeta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Cocoppel.Models.TarjetaCredito
<h2>Metodo de pago</h2>
@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="error">@ViewBag.Error</div>
}
<form action ="/tarjeta/Tarjeta" method="POST">
    <label for="login">Numero de Tarjeta:</label>
    <input type="text" name="Numero" value="@(Model!=null ? Model.Numero : string.Empty)" />
    <br />
    <label for="password">Titular:</label>
    <input type="text" name="Titular" value="@(Model!=null ? Model.Titular : string.Empty)" />
    <br />
    <label for="password">Cvv:</label>
    <input type="text" name="Cvv" />
    <br />
    <label>Fecha de expiracion</label>
    <select name="Mes">
        <option value="01">Enero</option>
        <option value="02">Febrero </option>
        <option value="03">Marzo</option>
        <option value="04">Abril</option>
        <option value="05">Mayo</option>
        <option value="06">Junio</option>
        <option value="07">Julio</option>
        <option value="08">Agosto</option>
        <option value="09">Septiembre</option>
        <option value="10">Octubre</option>
        <option value="11">Noviembre</option>
        <option value="12">Diciembre</option>
    </select>
    <select name="Año">
        <option value="21"> 2021</option>
        <option value="22"> 2022</option>
        <option value="23"> 2023</option>
        <option value="24"> 2024</option>
        <option value="25"> 2025</option>
        <option value="26"> 2026</option>
    </select>
    <br />
    <label> Tipo de tarjeta</label>
    <br />
    <input type="radio" id="Credito" name="Tipo" value="Credito">
    <label for="Credtio">Credito</label>
    <br />
    <input type="radio" id="Debito" name="Tipo" value="Debito">
    <label for="Debito">Debito</label>
    <br />
    <input type="submit" value="Enviar" />
</form> 