

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>La Cocoteca</title>
    <link rel="icon" href="imagenes/coco.png" type="image/icon type">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel=StyleSheet href="css/custom.css" type="text/css" media=screen>
    <link rel=StyleSheet href="css/lista.css" type="text/css" media=screen>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
</head>

<body>

    <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #ff9060; font-family: 'Raleway', sans-serif;">
        <a class="navbar-brand" href="#">
            <img src="imagenes/imagotipo.png" alt="Cocoteca" width="200px" height="30px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Inicio<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categor&iacute;as
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Categoria 1</a>
                        <a class="dropdown-item" href="#">Categoria 2</a>
                        <a class="dropdown-item" href="#">Categoria 3</a>
                    </div>
                </li>
            </ul>

            <form class="form-inline my-1 my-lg-1">
                <input class="form-control mr-sm-2 w-auto" type="search" placeholder="Ej. El principito..." aria-label="Search">
                <button class="btn btn-search my-2 my-sm-0" type="submit">Buscar</button>
            </form>

            <li class="nav-item">
                <div class="box-1">
                    <div class="btn btn-one">
                        <span><img src="imagenes/usuario.png" width="30px" height="30px"> Inicia sesi&oacute;n</span>
                    </div>
                </div>
            </li>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="carrito" src="imagenes/carrito.png" alt="carrito" width="30px" height="30px">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Ir al carrito</a>
                        <a class="dropdown-item" href="#">Lista de pedidos</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>


    <div class="pb-5">
        <div class="container container-dos">
            <div class="row">
                <div class="col-lg-12 p-5 rounded shadow-sm mb-5 " style="background-color:#FFD1BD">

                    <!-- Lista de Libros -->
                    <div class="table-responsive">
                        <table class="table" style="background-color:#FFFFFF">
                            <thead>
                                <tr>
                                    <th scope="col" class="border-0 bg-light px-0">
                                        <div class="p-2 px-3 text-uppercase">Pedidos Realizados/Usuario</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            <th scope="row" class="border-0">

                             

                                  @{ int Longitud = Model.Count;
                                  }
                                



                                @for (int i = 0; i < @Longitud / 7; i++)
                                {

                                <div class="list-group">
                                    <button type="button" class="list-group-item list-group-item-action active" disabled style="background-color:#ff9060	">
                                        @for (int j = i + (i * 7); j <= i + (i * 7); j++)
                                        {
                                            @foreach (var Libroslista in ((IEnumerable<string>)Model).ElementAt(j))
                                            {
                                                @Libroslista
                                            }
                                        }


                                    </button>
                                    @for (int a = i + (i * 7); a <= i + (i * 7); a++)
                                    {
                                        int primero = 0;

                                        @foreach (var Librote in Model)
                                        {
                                            if (Librote == Model[a])
                                            {
                                                if (primero==0)
                                                {
                                                    <a class="dropdown-item" asp-controller="Compras_Lista_hu113" asp-action="Compras_Libro_Vista_"
                                                       asp-route-id="@Librote"><li class="list-group-item">
    <!-- Contenido-->

                                           

    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
        <img src= @for (int j = i + (i * 7); j <= i + (i * 7); j++)
                    {
                        @foreach (var Libroslista in ((IEnumerable<string>)Model).ElementAt(j + 3))
                        {
                            @Libroslista
                        }
                    } height="180px" width="120px">
        <div class="ml-3 d-inline-block align-top">
            <div class="media-body order-2 order-lg-1">
                <h5 class="mt-0 font-weight-bold mb-2">
                    @for (int j = i + (i * 7); j <= i + (i * 7); j++)
                    {
                        @foreach (var Libroslista in ((IEnumerable<string>)Model).ElementAt(j + 1))
                        {
                            @Libroslista
                        }
                    }
                </h5>
                <p class="font-italic text-muted mb-0 small">
                    @for (int j = i + (i * 7); j <= i + (i * 7); j++)
                    {
                        @foreach (var Libroslista in ((IEnumerable<string>)Model).ElementAt(j + 2))
                        {
                            @Libroslista
                        }
                    }
                </p>
                <p class="font-italic text-muted mb-0 small">Vendido por: Cocoteca </p>
                <p class="font-italic text-muted mb-0 small">
                    Fecha de la compra:
                    @for (int j = i + (i * 7); j <= i + (i * 7); j++)
                    {
                        @foreach (var Libroslista in ((IEnumerable<string>)Model).ElementAt(j + 6))
                        {
                            @Libroslista
                        }
                    }
                </p>
                <br>
                <h6 class="font-weight-bold my-2">
                    Precio Total:
                    @for (int j = i + (i * 7); j <= i + (i * 7); j++)
                    {
                        @foreach (var Libroslista in ((IEnumerable<string>)Model).ElementAt(j + 5))
                        {
                            @Libroslista
                        }
                    }
                </h6>
                <br>

            </div>
        </div>
    </div> <!-- fin del pedido -->
</li></a>
                                                    primero = 1;
                                                }

                                            }


                                        }

                                    }
                                    
                                        
                                    
                                </div>
                                    <br>
                                }
                                A
                                <!-- Agregar los demas pedidos -->

                                <br>
                            </th>

                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>




</body>
</html>

