.btn-pagar{
background-color:  #F2BF2C;
    border-color: #FF9060;
    color: #F3F3F3;
  }

.btn-volver{
background-color:  #131014;
    border-color: #F3F3F3;
    color: #F3F3F3;
  }

.btn-orange{
    background-color: #FCA12D;
    border-color: #FF9060;
}