
@{
    ViewData["Title"] = "Libro_Vista";
}


<!DOCTYPE html>
<html>
<head>
    <link rel=StyleSheet href="~/css/custom.css" type="text/css" media=screen>
</head>
<body>


    <div class="pb-5">
        <div class="container container-dos">
            <div class="row">
                <div class="col-lg-12 p-5 rounded shadow-sm mb-5 " style="background-color:#FFD1BD">

                    <!-- Shopping cart table -->
                    <div class="table-responsive">
                        <table class="table" style="background-color:#FFFFFF">
                            <thead>
                                <tr>
                                    @{ String categoria = ((IEnumerable<string>)Model).ElementAt(11);
                                    }
                                    <th scope="col" class="border-0 bg-light px-0">
                                        <div class="p-2 px-3 text-uppercase">Cocoteca/libros/@categoria</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            <th scope="row" class="border-0">
                                <div class="p-2">
                                    <div class="d-inline-block">

                                        <img src=@foreach (var Libroslista in ((IEnumerable<string>)Model).ElementAt(9))
                                            {
                                                            @Libroslista
                                            } height="400px" width="320px">
                                    </div>
                                    <div class="ml-3 d-inline-block align-top">
                                        <h2>
                                            @foreach (var Libroslista in ((IEnumerable<string>)Model).ElementAt(1))
                                            {
                                                @Libroslista
                                            }
                                        </h2>
                                        <div class="d-inline-block">

                                            <h5>
                                                <footer class="blockquote-footer">
                                                    @foreach (var Libroslista in ((IEnumerable<string>)Model).ElementAt(2))
                                                    {
                                                        @Libroslista
                                                    }
                                                </footer>
                                            </h5><br>
                                            <p>
                                                <font>
                                                    <u> <b>ISBN:</b></u>
                                                    @foreach (var Libroslista in ((IEnumerable<string>)Model).ElementAt(0))
                                                    {
                                                        @Libroslista
                                                    }
                                                </font>
                                            </p>
                                            <p>
                                                <font>
                                                    <u> <b>Editorial:</b></u>
                                                    @foreach (var Libroslista in ((IEnumerable<string>)Model).ElementAt(10))
                                                    {
                                                        @Libroslista
                                                    }
                                                </font>
                                            </p>
                                            <p>
                                                <font>
                                                    <u> <b>Paginas:</b></u>
                                                    @foreach (var Libroslista in ((IEnumerable<string>)Model).ElementAt(4))
                                                    {
                                                        @Libroslista
                                                    }
                                                </font>
                                            </p>
                                            <p>
                                                <font>
                                                    <u> <b>Año de Impresion:</b></u>
                                                    @foreach (var Libroslista in ((IEnumerable<string>)Model).ElementAt(6))
                                                    {
                                                        @Libroslista
                                                    }
                                                </font>
                                            </p>
                                            <p>
                                                <font>
                                                    <u> <b>Pais:</b></u>
                                                    @foreach (var Libroslista in ((IEnumerable<string>)Model).ElementAt(12))
                                                    {
                                                        @Libroslista
                                                    }
                                                </font>
                                            </p>
                                        </div>
                                        <div class="ml-8 d-inline-block align-top">
                                            <br>
                                            <div class="card card-dos mb-5 mb-lg-0" style="width: 18rem; height:16rem;">

                                                <div class="card-body">
                                                    @{ String enStock = ((IEnumerable<string>)Model).ElementAt(8);
                                                    }
                                                    <h5 class="card-title text-muted text-uppercase text-center">
                                                        @enStock

                                                    </h5>

                                                    <h5 class="card-price text-center">
                                                        $@foreach (var Libroslista in ((IEnumerable<string>)Model).ElementAt(7))
                                                        {
                                                            @Libroslista
                                                        }
                                                    </h5>
                                                    <hr>
                                                    <div class="box-1">
                                                        <div class="btn btn-dos ">
                                                            <span><img src="~/compra.png" width="30px" height="30px"> Añadir</span>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                </div>
                                            </div>
                                        </div>
                                        <br><br>
                                        <div class="card" style="width: 35rem;">
                                            <div class="card-body">
                                                <p><font><u> <b>Sinopsis:</b></u></font></p>
                                                @foreach (var Libroslista in ((IEnumerable<string>)Model).ElementAt(3))
                                                {
                                                    @Libroslista
                                                }
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                </div>

                            </th>

                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

</div>






